<div class="product" *ngIf="product">
  <div class="product-details">
    <img
      [src]="getImageURL(!product ? '' : product.imageName)"
      [alt]="product.name"
    />
    <div class="product-info">
      <div class="name">{{ product.name }}</div>
      <div class="description">{{ product.description }}</div>
      <div class="category">Part Type: {{ product.category }}</div>
    </div>
  </div>
  <div class="price">
    <div [ngClass]="{ strikethrough: hasDiscount(product) }">
      {{ product.price | currency : "EGP" }}
    </div>
    <div *ngIf="product.discount > 0" class="discount">
      {{ product.price * (1 - product.discount) | currency : "EGP" }}
    </div>
    <button class="cta" (click)="buyButtonClicked(product)">Buy</button>
  </div>
</div>
