<div class="container">
  <div class="filters">
    <a class="button" (click)="filter = 'Heads'">Heads</a>
    <a class="button" (click)="filter = 'Torsos'">Torsos</a>
    <a class="button" (click)="filter = 'Arms'">Arms</a>
    <a class="button" (click)="filter = 'Bases'">Bases</a>
    <a class="button" (click)="filter = ''">All</a>
  </div>

  <ul class="products">
    <li
      class="product-item"
      *ngFor="let currentProduct of getFiltererdProducts()"
    >
      <!-- (bye) here is the name of the event created in product details and pushed here to be listined for -->
      <!-- so here we added the event itself in the button when we pass the data  -->
      <bot-product-details
        [product]="currentProduct"
        (buy)="addToCart(currentProduct)"
      ></bot-product-details>
    </li>
  </ul>
</div>
